.env*
vendor/
supatype-server
supatype-server.exe
supatype-server.exe~
supatype-server-linux
supatype-server-linux-arm64
supatype-server-linux-arm64-strip
supatype-server-darwin-arm64
coverage.out

.DS_Store
.vscode
.idea
www/dist/
www/.DS_Store
www/node_modules
npm-debug.log
.data
