SUPATYPE_SITE_URL="http://localhost:3000"
SUPATYPE_JWT_SECRET=""
SUPATYPE_DB_MIGRATIONS_PATH=/go/src/github.com/supatype/server/migrations
SUPATYPE_DB_DRIVER=postgres
DATABASE_URL=postgres://supatype_auth_admin:root@postgres:5432/postgres
SUPATYPE_API_HOST=0.0.0.0
SUPATYPE_API_EXTERNAL_URL="http://localhost:9999"
PORT=9999
