# General Config
# NOTE: The service_role key is required as an authorization header for /admin endpoints

SUPATYPE_JWT_SECRET="CHANGE-THIS! VERY IMPORTANT!"
SUPATYPE_JWT_EXP="3600"
SUPATYPE_JWT_AUD="authenticated"
SUPATYPE_JWT_DEFAULT_GROUP_NAME="authenticated"
SUPATYPE_JWT_ADMIN_ROLES="supatype_admin,service_role"

# Database & API connection details
SUPATYPE_DB_DRIVER="postgres"
SUPATYPE_DB_NAMESPACE="auth"
DATABASE_URL="postgres://supatype_auth_admin:root@localhost:5432/postgres"
SUPATYPE_API_EXTERNAL_URL="http://localhost:9999"
SUPATYPE_API_HOST="localhost"
PORT="9999"

# SMTP config (generate credentials for signup to work)
SUPATYPE_SMTP_HOST=""
SUPATYPE_SMTP_PORT=""
SUPATYPE_SMTP_USER=""
SUPATYPE_SMTP_MAX_FREQUENCY="5s"
SUPATYPE_SMTP_PASS=""
SUPATYPE_SMTP_ADMIN_EMAIL=""
SUPATYPE_SMTP_SENDER_NAME=""

# Optional: send-email HTTP hook — The auth service POSTs signed payloads to this URI; supatype-server
# implements POST /internal/v0hooks/send-email (or use an HTTPS Edge URL). See Phase 10.6 A24.
# SUPATYPE_HOOK_SEND_EMAIL_ENABLED="true"
# SUPATYPE_HOOK_SEND_EMAIL_URI="http://127.0.0.1:9999/internal/v0hooks/send-email"
# SUPATYPE_HOOK_SEND_EMAIL_SECRETS="v1,whsec_your_symmetric_secret_here"

# Mailer config
SUPATYPE_MAILER_AUTOCONFIRM="true"
SUPATYPE_MAILER_URLPATHS_CONFIRMATION="/verify"
SUPATYPE_MAILER_URLPATHS_INVITE="/verify"
SUPATYPE_MAILER_URLPATHS_RECOVERY="/verify"
SUPATYPE_MAILER_URLPATHS_EMAIL_CHANGE="/verify"
SUPATYPE_MAILER_SUBJECTS_CONFIRMATION="Confirm Your Email"
SUPATYPE_MAILER_SUBJECTS_RECOVERY="Reset Your Password"
SUPATYPE_MAILER_SUBJECTS_MAGIC_LINK="Your Magic Link"
SUPATYPE_MAILER_SUBJECTS_EMAIL_CHANGE="Confirm Email Change"
SUPATYPE_MAILER_SUBJECTS_INVITE="You have been invited"
SUPATYPE_MAILER_SUBJECTS_PASSWORD_CHANGED_NOTIFICATION="Your password has been changed"
SUPATYPE_MAILER_SUBJECTS_EMAIL_CHANGED_NOTIFICATION="Your email address has been changed"
SUPATYPE_MAILER_SUBJECTS_PHONE_CHANGED_NOTIFICATION="Your phone number has been changed"
SUPATYPE_MAILER_SUBJECTS_IDENTITY_LINKED_NOTIFICATION="A new identity has been linked"
SUPATYPE_MAILER_SUBJECTS_IDENTITY_UNLINKED_NOTIFICATION="An identity has been unlinked"
SUPATYPE_MAILER_SUBJECTS_MFA_FACTOR_ENROLLED_NOTIFICATION="A new MFA factor has been enrolled"
SUPATYPE_MAILER_SUBJECTS_MFA_FACTOR_UNENROLLED_NOTIFICATION="An MFA factor has been unenrolled"
SUPATYPE_MAILER_SECURE_EMAIL_CHANGE_ENABLED="true"

# Custom mailer template config
SUPATYPE_MAILER_TEMPLATES_INVITE=""
SUPATYPE_MAILER_TEMPLATES_CONFIRMATION=""
SUPATYPE_MAILER_TEMPLATES_RECOVERY=""
SUPATYPE_MAILER_TEMPLATES_MAGIC_LINK=""
SUPATYPE_MAILER_TEMPLATES_EMAIL_CHANGE=""
SUPATYPE_MAILER_TEMPLATES_PASSWORD_CHANGED_NOTIFICATION=""
SUPATYPE_MAILER_TEMPLATES_EMAIL_CHANGED_NOTIFICATION=""
SUPATYPE_MAILER_TEMPLATES_PHONE_CHANGED_NOTIFICATION=""
SUPATYPE_MAILER_TEMPLATES_IDENTITY_LINKED_NOTIFICATION=""
SUPATYPE_MAILER_TEMPLATES_IDENTITY_UNLINKED_NOTIFICATION=""
SUPATYPE_MAILER_TEMPLATES_MFA_FACTOR_ENROLLED_NOTIFICATION=""
SUPATYPE_MAILER_TEMPLATES_MFA_FACTOR_UNENROLLED_NOTIFICATION=""

# Account changes notifications configuration
SUPATYPE_MAILER_NOTIFICATIONS_PASSWORD_CHANGED_ENABLED="false"
SUPATYPE_MAILER_NOTIFICATIONS_EMAIL_CHANGED_ENABLED="false"
SUPATYPE_MAILER_NOTIFICATIONS_PHONE_CHANGED_ENABLED="false"
SUPATYPE_MAILER_NOTIFICATIONS_IDENTITY_LINKED_ENABLED="false"
SUPATYPE_MAILER_NOTIFICATIONS_IDENTITY_UNLINKED_ENABLED="false"
SUPATYPE_MAILER_NOTIFICATIONS_MFA_FACTOR_ENROLLED_ENABLED="false"
SUPATYPE_MAILER_NOTIFICATIONS_MFA_FACTOR_UNENROLLED_ENABLED="false"

# Signup config
SUPATYPE_DISABLE_SIGNUP="false"
SUPATYPE_SITE_URL="http://localhost:3000"
SUPATYPE_EXTERNAL_EMAIL_ENABLED="true"
SUPATYPE_EXTERNAL_PHONE_ENABLED="true"
SUPATYPE_EXTERNAL_IOS_BUNDLE_ID="com.supatype.auth"

# Whitelist redirect to URLs here, a comma separated list of URIs (e.g. "https://foo.example.com,https://*.foo.example.com,https://bar.example.com")
SUPATYPE_URI_ALLOW_LIST="http://localhost:3000"

# Apple OAuth config
SUPATYPE_EXTERNAL_APPLE_ENABLED="false"
SUPATYPE_EXTERNAL_APPLE_CLIENT_ID=""
SUPATYPE_EXTERNAL_APPLE_SECRET=""
SUPATYPE_EXTERNAL_APPLE_REDIRECT_URI="http://localhost:9999/callback"

# Azure OAuth config
SUPATYPE_EXTERNAL_AZURE_ENABLED="false"
SUPATYPE_EXTERNAL_AZURE_CLIENT_ID=""
SUPATYPE_EXTERNAL_AZURE_SECRET=""
SUPATYPE_EXTERNAL_AZURE_REDIRECT_URI="https://localhost:9999/callback"

# Bitbucket OAuth config
SUPATYPE_EXTERNAL_BITBUCKET_ENABLED="false"
SUPATYPE_EXTERNAL_BITBUCKET_CLIENT_ID=""
SUPATYPE_EXTERNAL_BITBUCKET_SECRET=""
SUPATYPE_EXTERNAL_BITBUCKET_REDIRECT_URI="http://localhost:9999/callback"

# Discord OAuth config
SUPATYPE_EXTERNAL_DISCORD_ENABLED="false"
SUPATYPE_EXTERNAL_DISCORD_CLIENT_ID=""
SUPATYPE_EXTERNAL_DISCORD_SECRET=""
SUPATYPE_EXTERNAL_DISCORD_REDIRECT_URI="https://localhost:9999/callback"

# Facebook OAuth config
SUPATYPE_EXTERNAL_FACEBOOK_ENABLED="false"
SUPATYPE_EXTERNAL_FACEBOOK_CLIENT_ID=""
SUPATYPE_EXTERNAL_FACEBOOK_SECRET=""
SUPATYPE_EXTERNAL_FACEBOOK_REDIRECT_URI="https://localhost:9999/callback"
SUPATYPE_EXTERNAL_FACEBOOK_SKIP_NONCE_CHECK=true

# Figma OAuth config
SUPATYPE_EXTERNAL_FIGMA_ENABLED="false"
SUPATYPE_EXTERNAL_FIGMA_CLIENT_ID=""
SUPATYPE_EXTERNAL_FIGMA_SECRET=""
SUPATYPE_EXTERNAL_FIGMA_REDIRECT_URI="https://localhost:9999/callback"

# GitLab OAuth config
SUPATYPE_EXTERNAL_GITLAB_ENABLED="false"
SUPATYPE_EXTERNAL_GITLAB_CLIENT_ID=""
SUPATYPE_EXTERNAL_GITLAB_SECRET=""
SUPATYPE_EXTERNAL_GITLAB_REDIRECT_URI="http://localhost:9999/callback"

# Google OAuth config
SUPATYPE_EXTERNAL_GOOGLE_ENABLED="false"
SUPATYPE_EXTERNAL_GOOGLE_CLIENT_ID=""
SUPATYPE_EXTERNAL_GOOGLE_SECRET=""
SUPATYPE_EXTERNAL_GOOGLE_REDIRECT_URI="http://localhost:9999/callback"

# GitHub OAuth config
SUPATYPE_EXTERNAL_GITHUB_ENABLED="false"
SUPATYPE_EXTERNAL_GITHUB_CLIENT_ID=""
SUPATYPE_EXTERNAL_GITHUB_SECRET=""
SUPATYPE_EXTERNAL_GITHUB_REDIRECT_URI="http://localhost:9999/callback"

# Kakao OAuth config
SUPATYPE_EXTERNAL_KAKAO_ENABLED="false"
SUPATYPE_EXTERNAL_KAKAO_CLIENT_ID=""
SUPATYPE_EXTERNAL_KAKAO_SECRET=""
SUPATYPE_EXTERNAL_KAKAO_REDIRECT_URI="http://localhost:9999/callback"

# Notion OAuth config
SUPATYPE_EXTERNAL_NOTION_ENABLED="false"
SUPATYPE_EXTERNAL_NOTION_CLIENT_ID=""
SUPATYPE_EXTERNAL_NOTION_SECRET=""
SUPATYPE_EXTERNAL_NOTION_REDIRECT_URI="https://localhost:9999/callback"

# Twitter (X) OAuth1 config
SUPATYPE_EXTERNAL_TWITTER_ENABLED="false"
SUPATYPE_EXTERNAL_TWITTER_CLIENT_ID=""
SUPATYPE_EXTERNAL_TWITTER_SECRET=""
SUPATYPE_EXTERNAL_TWITTER_REDIRECT_URI="http://localhost:9999/callback"

# Twitch OAuth config
SUPATYPE_EXTERNAL_TWITCH_ENABLED="false"
SUPATYPE_EXTERNAL_TWITCH_CLIENT_ID=""
SUPATYPE_EXTERNAL_TWITCH_SECRET=""
SUPATYPE_EXTERNAL_TWITCH_REDIRECT_URI="http://localhost:9999/callback"

# Spotify OAuth config
SUPATYPE_EXTERNAL_SPOTIFY_ENABLED="false"
SUPATYPE_EXTERNAL_SPOTIFY_CLIENT_ID=""
SUPATYPE_EXTERNAL_SPOTIFY_SECRET=""
SUPATYPE_EXTERNAL_SPOTIFY_REDIRECT_URI="http://localhost:9999/callback"

# Keycloak OAuth config
SUPATYPE_EXTERNAL_KEYCLOAK_ENABLED="false"
SUPATYPE_EXTERNAL_KEYCLOAK_CLIENT_ID=""
SUPATYPE_EXTERNAL_KEYCLOAK_SECRET=""
SUPATYPE_EXTERNAL_KEYCLOAK_REDIRECT_URI="http://localhost:9999/callback"
SUPATYPE_EXTERNAL_KEYCLOAK_URL="https://keycloak.example.com/auth/realms/myrealm"

# LinkedIn OAuth config
SUPATYPE_EXTERNAL_LINKEDIN_ENABLED="true"
SUPATYPE_EXTERNAL_LINKEDIN_CLIENT_ID=""
SUPATYPE_EXTERNAL_LINKEDIN_SECRET=""

# Slack OAuth config
SUPATYPE_EXTERNAL_SLACK_ENABLED="false"
SUPATYPE_EXTERNAL_SLACK_CLIENT_ID=""
SUPATYPE_EXTERNAL_SLACK_SECRET=""
SUPATYPE_EXTERNAL_SLACK_REDIRECT_URI="http://localhost:9999/callback"

# WorkOS OAuth config
SUPATYPE_EXTERNAL_WORKOS_ENABLED="true"
SUPATYPE_EXTERNAL_WORKOS_CLIENT_ID=""
SUPATYPE_EXTERNAL_WORKOS_SECRET=""
SUPATYPE_EXTERNAL_WORKOS_REDIRECT_URI="http://localhost:9999/callback"

# Zoom OAuth config
SUPATYPE_EXTERNAL_ZOOM_ENABLED="false"
SUPATYPE_EXTERNAL_ZOOM_CLIENT_ID=""
SUPATYPE_EXTERNAL_ZOOM_SECRET=""
SUPATYPE_EXTERNAL_ZOOM_REDIRECT_URI="http://localhost:9999/callback"

# Web3 Solana config
SUPATYPE_EXTERNAL_WEB3_SOLANA_ENABLED="true"
SUPATYPE_EXTERNAL_WEB3_SOLANA_MAXIMUM_VALIDITY_DURATION="10m"

# Web3 Ethereum config
SUPATYPE_EXTERNAL_WEB3_ETHEREUM_ENABLED="true"
SUPATYPE_EXTERNAL_WEB3_ETHEREUM_MAXIMUM_VALIDITY_DURATION="10m"

# Anonymous auth config
SUPATYPE_EXTERNAL_ANONYMOUS_USERS_ENABLED="false"

# PKCE Config
SUPATYPE_EXTERNAL_FLOW_STATE_EXPIRY_DURATION="300s"

# Phone provider config
SUPATYPE_SMS_AUTOCONFIRM="false"
SUPATYPE_SMS_MAX_FREQUENCY="5s"
SUPATYPE_SMS_OTP_EXP="6000"
SUPATYPE_SMS_OTP_LENGTH="6"
SUPATYPE_SMS_PROVIDER="twilio"
SUPATYPE_SMS_TWILIO_ACCOUNT_SID=""
SUPATYPE_SMS_TWILIO_AUTH_TOKEN=""
SUPATYPE_SMS_TWILIO_MESSAGE_SERVICE_SID=""
SUPATYPE_SMS_TEMPLATE="This is from supatype. Your code is {{ .Code }} ."
SUPATYPE_SMS_MESSAGEBIRD_ACCESS_KEY=""
SUPATYPE_SMS_MESSAGEBIRD_ORIGINATOR=""
SUPATYPE_SMS_TEXTLOCAL_API_KEY=""
SUPATYPE_SMS_TEXTLOCAL_SENDER=""
SUPATYPE_SMS_VONAGE_API_KEY=""
SUPATYPE_SMS_VONAGE_API_SECRET=""
SUPATYPE_SMS_VONAGE_FROM=""

# Captcha config
SUPATYPE_SECURITY_CAPTCHA_ENABLED="false"
SUPATYPE_SECURITY_CAPTCHA_PROVIDER="hcaptcha"
SUPATYPE_SECURITY_CAPTCHA_SECRET="0x0000000000000000000000000000000000000000"
SUPATYPE_SECURITY_CAPTCHA_TIMEOUT="10s"
SUPATYPE_SESSION_KEY=""

# SAML config
SUPATYPE_EXTERNAL_SAML_ENABLED="true"
SUPATYPE_EXTERNAL_SAML_METADATA_URL=""
SUPATYPE_EXTERNAL_SAML_API_BASE="http://localhost:9999"
SUPATYPE_EXTERNAL_SAML_NAME="auth0"
SUPATYPE_EXTERNAL_SAML_SIGNING_CERT=""
SUPATYPE_EXTERNAL_SAML_SIGNING_KEY=""

# Additional Security config
SUPATYPE_LOG_LEVEL="debug"
SUPATYPE_SECURITY_REFRESH_TOKEN_ROTATION_ENABLED="false"
SUPATYPE_SECURITY_REFRESH_TOKEN_REUSE_INTERVAL="0"
SUPATYPE_SECURITY_UPDATE_PASSWORD_REQUIRE_REAUTHENTICATION="false"
SUPATYPE_OPERATOR_TOKEN="unused-operator-token"
SUPATYPE_RATE_LIMIT_HEADER="X-Forwarded-For"
SUPATYPE_RATE_LIMIT_EMAIL_SENT="100"

SUPATYPE_MAX_VERIFIED_FACTORS=10

# Auth Hook Configuration
SUPATYPE_HOOK_CUSTOM_ACCESS_TOKEN_ENABLED=false
SUPATYPE_HOOK_CUSTOM_ACCESS_TOKEN_URI=""
# Only for HTTPS Hooks
SUPATYPE_HOOK_CUSTOM_ACCESS_TOKEN_SECRET=""

SUPATYPE_HOOK_CUSTOM_SMS_PROVIDER_ENABLED=false
SUPATYPE_HOOK_CUSTOM_SMS_PROVIDER_URI=""
# Only for HTTPS Hooks
SUPATYPE_HOOK_CUSTOM_SMS_PROVIDER_SECRET=""


# Test OTP Config
SUPATYPE_SMS_TEST_OTP="<phone-1>:<otp-1>, <phone-2>:<otp-2>..."
SUPATYPE_SMS_TEST_OTP_VALID_UNTIL="<ISO date time>" # (e.g. 2023-09-29T08:14:06Z)

SUPATYPE_MFA_WEB_AUTHN_ENROLL_ENABLED="false"
SUPATYPE_MFA_WEB_AUTHN_VERIFY_ENABLED="false"
